.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../uploads/cake.png");
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative; 
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hero-image2 {
	background-image:  url("../uploads/bg_4.jpg");
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative; 
}